@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

.App {
  width: 100%;
  height: 50vh;
  background: #fff;
  color: #212121;
  font-family: 'Poppins', sans-serif;
  display: grid;
  place-items: center;
  margin-bottom: 400px;
}

body {
  margin: 0%;
  padding: 0%;
  transition: all .3s ease;
}


/* chat window */
.chat-window {
  margin: 0 20px;
  width: 600px;
  box-shadow: 2px 3px #e0e0e0 ;
  border-radius: 20px;
}

.chat-window p {
  margin: 0;
}

.chat-window .chat-header {
  display: flex;
  height: 70px;
  border-radius: 15px 15px 0 0; 
  background: #971921;
  position: relative;
  user-select: none;
}

.chat-window .chat-header .img-chat img {
  width: 50px;
  height: 50px;
  margin-left: 30px;
  margin-top: 9px;
  margin-right: 15px;
  border-radius: 100%;
}

.chat-window .chat-header .chat-text {
  display: flex;
  flex-direction: column; 
}

/* mute button */
.chat-window .chat-header .mic {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-right: 1em;
}

.chat-window .chat-header .mic button {
  background-color: #971921;
  border: none;
  cursor: pointer;
}

/* // font-awesome */
.fa-microphone, .fa-microphone-slash {
  position: relative;
  font-size: 23px;
  color: #fff;
}

.chat-window .chat-header .chat-text .chat-title {
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: 7px;
  color: #fff;
  font-weight: 600;
  font-size: 23px;
}

.chat-window .chat-header .chat-text .chat-smltxt {
  color: #B18F8F;
  font-size: 11px;
  font-weight: 700;
}

.chat-window .chat-body {
  height: calc(500px - (45px + 70px));
  border: 1px solid #b5bbbe;
  background: #EEEEEE;
  position: relative;
}

.chat-window .chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-window .chat-body .message-container::-webkit-scrollbar {
  display: none;
}

.chat-window .chat-body .message {
  height: auto;
  padding: 7px;
  display: flex;

}

.chat-window .chat-body .message .message-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: auto;
  height: auto;
  min-height: 30px;
  max-width: 17rem;
  background-color: #971921;
  border-radius: 10px;
  color: white;
  margin: 2px 5px 0; 
  padding: 5px 8px 5px 10px; 
  overflow-wrap: break-word; 
}

.chat-body .message-container .message .message-box {
  display: flex;
  flex-direction: column;
}

#AskTeknoy {
  justify-content: flex-start;
}

#AskTeknoy .message-content {
  justify-content: flex-start;
  background-color: #fff;
  color: #000;
  box-shadow: 2px 2px #bebfc0;
}

#AskTeknoy .message-meta {
  justify-content: flex-start;
  margin-left: 5px;
}

#Guest {
  justify-content: flex-end;
  align-items: flex-end;
}

#Guest .message-content {
  justify-content: flex-end;
  background-color: #971921;
}

.section-title {
  font-weight: bold;
  font-size: 2em;
}

#Guest .message-meta {
  justify-content: flex-end;
  margin-right: 5px;
}

.message-meta #author {
  margin-left: 5px;
  margin-right: 5px;
  font-weight: bold;
  color: #222121; 
}

.message-meta #time {
  color: #4E4D4D;
}

.chat-window .chat-body .message .message-meta {
  display: flex;
  font-size: 12px;
  align-items: baseline;
  margin-bottom: 2px;
}

.chat-window .chat-footer {
  height: 40px;
  border: 1px solid #b5bbbe;
  border-top: none;
  display: flex;
}

.chat-window .chat-footer input {
  height: 100%;
  flex: 70%;
  border: 0;
  padding: 0 0.7em;
  font-size: 1em;
  border-right: 1px dotted #607d8b;
  outline: none;
  font-family: "Open Sans", sans-serif;
  box-shadow: 2px 2px #bebfc0;

}

.chat-window .chat-footer button {
  border: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  flex: 15%;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: 25px;
  color: #fff;
  background-color: #971921;
  box-shadow: 2px 2px #bebfc0;
}

.chat-window .chat-footer button:hover {
  color: #FACA10;
}
.hide {
  opacity: 0 !important;
}
 
html::-webkit-scrollbar { 
  width: 1vw;
}


html::-webkit-scrollbar-thumb { 
  background: linear-gradient(10deg, #971921, #4e060b) ;
} 


.message-container .message .message-content .link-content {
  display: flex; 
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color:#fff; 
  word-break: break-all;
  background-color: #971921;
  border-radius: 7px;
  padding: 8px;
}

.message-container .message .message-content .link-content:hover {
  text-decoration: underline;
}

#displayNotLink {
  display: none; 
}

/* font awesome icons */
.fa-file-pdf, 
.fa-square-facebook, 
.fa-envelope,
.fa-globe 
{
  color: #fff;
  margin: auto 7px 0;
  font-size: 2.5rem;
  text-shadow: 2px 2px #e4e2e2;
}


