@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

section {
    padding: 40px;
    user-select: none;
}

section .intro {
    padding-bottom: 0;
    margin-bottom: 0;
}

.description { 
    margin-top: 30px;
    flex-wrap: wrap; 
    position: relative;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.description .content {
    padding-bottom: 40px;
    margin-bottom: 50px;
}

.description .content .title-intro {
    position: relative;
    font-size: 55px;
    max-width: 600px;
    font-weight: 700;
}

.description .content p {
    position: relative; 
    max-width: 500px;
    color:rgb(138, 135, 135);
    word-wrap: break-word;
    margin-bottom: 35px;
    line-height: 30px;
    font-size: 1.2em;
}

.description img {
    position: relative;
    max-width: 600px;
    height: auto;
    padding-right: 5em;
    padding-top: 100px;
}

.description .content a {
    padding: 10px 50px;
    border-radius: 7px;
    background-color: #971921;
    color: #fff;
    border: none;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.5;
    transition: 0.5s;
    text-decoration: none;
    user-select: none;

}

.description .content a:hover {
    background-color: #FBD43E;
    color: #971921;

}

.circle { 
    position: absolute;
    top: -5px; left: 0;
    width: 100%;
    height: 100%; 
    clip-path: circle(50% at right 50%);
    background: linear-gradient(45deg,#f9fd05,#fd7505, #eb3743, #6e0c12);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
}


.features-view {
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0; 
}

.features-view .feat-title {
    font-size: 40px;
    text-align: center;
    margin-bottom: 1.5em;
    font-weight: 700;
    user-select: none;
}

.features {
    position: relative;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    user-select: none;
}

.features:hover {
    user-select: none;
}

.features-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    grid-auto-rows: minmax(176px, auto);
    justify-content: center;
}

.features-container .features p {
    word-wrap: break-word;
    color:rgb(138, 135, 135);
    max-width: 450px;
    font-size: 15px;
}

.features-container .features h2{ 
    font-weight: 700;
    font-size: 20px;
}

.features-view .features-container img {
    position: relative;
    max-width: 60px;
    height: 60px;
    margin: 2px 20px 0; 
}

.how-to-use {
    display: flex;
    justify-content: space-between;
    margin: 3em 0 ;
    padding: 4em 0 50px 7px;
}

.how-to-use .how-description {
    margin-top: 7em;
}

.how-to-use .how-description h2{
    font-size: 50px;
    font-weight: 700;
}

.how-to-use .how-description p{
    max-width: 700px;
    word-wrap: break-word;
    color:rgb(138, 135, 135);
    line-height: 35px;
    font-size: 15px;
}

.how-to-use .how-img {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    margin: 0 5em;
}

.how-to-use .how-img img {
    width: 100%;
    max-width: 430px;
    height: auto;
}



@keyframes color {
    0%{
        background-position: 0 50%; 
    }

    50%{
        background-position: 100% 50%; 
    }

    100%{
        background-position: 0% 50%; 
    }
}

/* feedback section */
.feedback {
    position: relative;
    margin-right: 10px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    color: #000;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(30deg,#f9fd05,#fd7505, #eb3743, #6e0c12);
    background-size: 300% 300%;
    animation: color3 12s ease-in-out infinite; 
}

@keyframes color3{
    0%{
        background-position: 0 50%; 
    }

    50%{
        background-position: 100% 50%; 
    }

    100%{
        background-position: 0% 50%; 
    }
}

.form {
    margin-right: 60px;
    margin-bottom: 0;
    margin-top: 60px;
}

.form-section {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    max-width: 600px;
    height: 40%;
    padding: 20px 40px 70px 20px; 
    flex-direction: column;
}

.form-title{
    position: relative;
}

.feedback .form .send-feedback-title { 
    color: #fff;
    text-align: center;
    font-size: 35px;
    padding-bottom: 0;
    margin-bottom: 0;
    font-weight: 700;

}

.feedback .form p {
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
}

.feedback img {
    max-width: 650px;
    padding: 173px 0 0 50px;
    margin-bottom: -22px;
}

.feedback .form .feedback-btn { 
    margin: 50px 0;
}

.feedback .form .feedback-btn button {
    background-color: #fff;
    text-align: center;
    color: #971921;
    text-decoration: none;
    padding: 10px 40px;
    text-align: center;
    border-radius: 7px;
    background-color: #FBD43E;
    font-weight: 700;
    border: none; 
    cursor: pointer;
}

.feedback .form .feedback-btn button:hover{
    background-color: #971921;
    color: #FBD43E;
}

.feedback .form .form-section .form-container input{
    position: relative;
    width: 100%;
    padding: 10px 15px;
    margin: 20px 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}

.feedback .form .form-section .form-container textarea{
    width: 100%;
    padding: 10px 15px;
    font-family: 'Poppins', sans-serif;
}

.chat-section { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 5rem;
}

.chat-section .start-chat-title{
    font-size: 50px;
    max-width: 500px;
    padding-bottom: 40px;
    font-weight: 700;
}

.chat-section a{
    padding: 15px 80px;
    background-color: #971921;
    color: #fff;
    border: none;
    border-radius: 7px;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer; 
    text-decoration: none;
}

.chat-section a:hover {
    background: linear-gradient(45deg,hsl(22, 94%, 45%),#FBD43E , #971921, #5e060b);
    background-size: 300% 300%;
    animation: color2 5s ease-in-out infinite;
    color: #fff;
}

@keyframes color2 {
    0%{
        color: #971921;
        background-position: 0 50%;
    }
    50%{
        color: #FBD43E;
        background-position: 100% 50%;
    }
    100%{
        color: #971921;

        background-position: 0 50%;
    }

}


